.slide1 {
    background-image: url(../../src/images/img1.png);
}

.slide2 {
    background-image: url(../../src/images/img2.png);
}

.slide3 {
    background-image: url(../../src/images/img3.png);
}